/** @format */

.pending {
	position: fixed;
	top: 0;
	right: 0;
	min-width: 5rem;
	width: 20%;
	background-color: #fff;
	padding: 0 1rem 1rem 1rem;
	text-align: left;
	height: 50vh;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	overflow-y: auto;
}

.pending-heading {
	position: fixed;
	font-size: 0.7rem;
	font-weight: bold;
	margin: 0 0 1rem 0;
	padding: 0.2rem 0.2rem 0 0;
	background-color: #fff;
	width: 100%;
}
.pending-list {
	font-size: 0.5rem;
}

.pending-list-item {
	margin: 7px;
	color: rgb(90, 90, 90) !important;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-bottom: 1px solid #ccc;
	padding: 0 0.4rem;
}

.pending-list-item p {
	text-align: center;
}

.pending-order-heading {
	font-weight: bold;
	text-align: center;
}
.pending-tote-list {
	/* display in a single line */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}

.pending-tote {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}
